@import url("index.css");

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  width: 400px;
  height: 500px;
  min-width: 400px;
  min-height: 500px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background-color: var(--blue);
}

.card:hover {
  backdrop-filter: blur(5px);
  background-color: var(--cian);
}

.divImgCard {
  height: 52.5%;
  min-height: 52.5%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.nameCard {
  margin: 0.5rem;
  font-weight: 800;
  font-size: 1.5rem;
  border-width: 1px;
  text-align: center;
  font-family: var(--type-secondary);
}

.temperCard {
  text-align: center;
  font-weight: 800;
  margin: 0.5rem;
}

.tempersCard {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1.5rem);
  justify-content: space-around;
  min-height: 100px;
  max-height: 100px;
}

.title-maxh-weig {
  margin: 0.5rem;
}

.title-MaxH {
  text-align: center;
  font-weight: 800;
}

.weightCard {
  text-align: center;
  font-size: 1.2rem;
}
