.createOk {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 80%),
    url("../img/mk7.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.back-createOk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff44;
  backdrop-filter: blur(18px);
  padding: 2rem 2.5rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.newD {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 800;
  margin: 1rem 0;
  color: var(--blue);
}

.btns {
  display: flex;
}

.btnGoH {
  margin: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  background-color: var(--blue);
  padding: 3px 6px;
  cursor: pointer;
}
.btnGoH:hover {
  background-color: var(--white);
  color: var(--blue);
}

.btnAdd {
  margin: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 700;
  background-color: var(--green);
  padding: 3px 6px;
  cursor: pointer;
}
.btnAdd:hover {
  background-color: var(--white);
  color: var(--green);
}

@media all and (max-width: 479px) {
  .newD {
    font-size: 1.1rem;
  }
  .btnGoH {
    font-size: 1.2rem;
  }
  .btnAdd {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .newD {
    font-size: 1.5rem;
  }
  .btnGoH {
    font-size: 1.3rem;
  }
  .btnAdd {
    font-size: 1.3rem;
  }
}
