.errorC {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 80%),
    url("../img/mk6.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.blurDiv-errorC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  margin: 1rem;
  background-color: #ffffff33;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title-errorC {
  font-size: 2.3rem;
  font-weight: bolder;
  font-family: var(--type-secondary);
  color: var(--cian);
}

.message-errorC {
  margin: 2rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.goBack-errorC {
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 10px;
  background-color: var(--blue);
  padding: 1rem;
  box-shadow: var(--cian) 0 0 4px;
}

.goBack-errorC:hover {
  background-color: var(--cian);
  color: var(--blue);
  cursor: pointer;
}

@media all and (max-width: 479px) {
  .title-errorC {
    font-size: 1.4rem;
  }
  .message-errorC {
    font-size: 1rem;
  
  }
  .goBack-errorC{
    font-size: 1rem;
    padding: .8rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
}

@media all and (min-width: 768px) and (max-width: 959px) {
}

@media all and (min-width: 960px) and (max-width: 1899px) {
}

@media all and (min-width: 1500px) {
}
