.formCreate {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 100%),
    url("../img/mk5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.title-btn-create {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  color: var(--cian);
}

.goBack-create {
  border-radius: 50%;
  margin-right: 4px;
  padding: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--blue);
  box-shadow: var(--cian) 0 0 2px;
}

.goBack-create:hover {
  background-color: var(--cian);
  box-shadow: var(--cian) 0 0 40px;
}

.title-form-create {
  font-size: 2rem;
  color: var(--cian);
  font-weight: bold;
  font-family: var(--type-secondary);
}

.threeColumns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.createForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 90%;
  max-width: 90%;
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: var(--blue-background);
  grid-area: createForm;
  box-shadow: var(--cian) 0 0 2px;
}

.nameF {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-containerFC {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.errorsMsj {
  display: inline;
  color: rgb(245 96 96);
}

.inputFC {
  border-radius: 5px;
  font-size: 1rem;
  margin: 1rem;
  width: 100%;
  box-shadow: var(--cian) 0 0 4px;
}

.inputFC:focus {
  outline: 2px solid var(--cian);
}

.imgF {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.minHF {
  display: flex;
  align-items: center;
}
.maxHF {
  display: flex;
  align-items: center;
}
.minWf {
  display: flex;
  align-items: center;
}
.maxWf {
  display: flex;
  align-items: center;
}
.minLSf {
  display: flex;
  align-items: center;
}
.maxLSf {
  display: flex;
  align-items: center;
}

.subtitle-formFC {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  backdrop-filter: blur(10px);
  background-color: var(--cian-background);
}

.min-max-heightFC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.min-max-weightFC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.min-max-lifeSFC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSCF {
  margin-top: 2rem;
  font-size: 1.3rem;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(25, 71, 123, 0.742);
  font-weight: bold;
  backdrop-filter: blur(10px);
  cursor: pointer;
  box-shadow: var(--cian) 0 0 2px;
}

.btnSCF:hover {
  background-color: rgba(96, 236, 252, 0.596);
  color: var(--blue);
  font-weight: bold;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.btnSCF:disabled {
  background-color: rgb(0, 0, 0);
  box-shadow: red 0 0 2px;
  color: red;
  cursor: no-drop;
}

.selectFC {
  width: 100%;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1rem;
  padding: 8px;
  margin: 10px 0;
  backdrop-filter: blur(10px);
  text-align: center;
  background-color: var(--cian-background);
}

.selectFC:focus {
  outline: 2px solid var(--cian);
  color: #000;
}

.tempersSelectsC3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 0.5rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(25, 71, 123, 0.443);
  grid-area: tempersSelectsC3;
}

.btnsTemps {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  background-color: var(--blue);
  box-shadow: var(--cian) 0 0 2px;
}

.btnsTemps:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: red 0 0 2px;
  color: red;
}

@media all and (max-width: 479px) {
  .title-form-create {
    font-size: 1.5rem;
  }
  .goBack-create {
    padding: 0.3rem;
  }

  .card-previwe-formC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    grid-area: card-previwe-formC;
  }
  .tempersSelectsC3 {
    max-height: 300px;
    overflow-y: auto;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .threeColumns {
    margin-bottom: 1rem;
  }
  .tempersSelectsC3 {
    max-height: 300px;
    overflow-y: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {
  .threeColumns {
    width: 100%;
    display: grid;
    grid-template-areas:
      "createForm card-previwe-formC"
      "createForm tempersSelectsC3";
    justify-items: center;
    gap: 2rem;
  }
  .createForm {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .tempersSelectsC3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 150px;
    overflow-y: auto;
  }
}

@media all and (min-width: 960px) and (max-width: 1899px) {
  .threeColumns {
    width: 100%;
    display: grid;
    grid-template-areas:
      "createForm card-previwe-formC"
      "createForm tempersSelectsC3";
    justify-items: center;
    gap: 2rem;
  }
  .createForm {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .tempersSelectsC3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 150px;
    overflow-y: auto;
  }
}

@media all and (min-width: 1500px) {
  .threeColumns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-template-areas: "card-previwe-formC createForm tempersSelectsC3";
  }
  .tempersSelectsC3 {
    width: 50%;
    max-height: 700px;
    overflow-y: auto;
  }
}
