.page-item {
  margin: 2px;
  border-radius: 5px;
  margin: 4px 2px;
}

.current {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1.3rem;
  min-width: 3.5rem;
  margin: 5px 2px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(103, 233, 247, 0.637);
}

.rest {
  cursor: pointer;
  padding: 10px 15px;
  min-width: 3.5rem;
  font-size: 1.3rem;
  margin: 5px 2px;
  border-radius: 10px;
  color: rgb(244, 244, 244);
  background-color: rgb(25, 71, 123);
}

.nex-previous {
  padding: 10px 15px;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 10px;
  color: rgba(103, 233, 247, 0.637);
  background-color: rgb(25, 71, 123);
}
