.page-item {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.input-paginationC {
  min-width: 40px;
  max-width: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.input-paginationC:focus {
  outline: none;
}

.inpt-text-pagination {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80px;
  border-radius: 10px;
  margin-right: 4px;
}

.inpt-text-pagination:hover {
  box-shadow: var(--cian) 0 0 2px;
}

.btn-go-pagination {
  cursor: pointer;
  padding: 0.5rem 0.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 2.5rem;
  border-radius: 10px;
  color: var(--blue);
  background-color: var(--cian);
  margin-right: 4px;
  box-shadow: var(--cian) 0 0 2px;
}

.btn-go-pagination:hover {
  background-color: var(--blue);
  color: var(--cian);
}

.nex-previous {
  padding: 0.5rem 0.1rem;
  margin-right: 4px;
  min-width: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  color: var(--cian);
  background-color: var(--blue);
  box-shadow: var(--cian) 0 0 2px;
}

.nex-previous:hover {
  color: var(--blue);
  background-color: var(--cian);
}

.blocked {
  padding: 0.5rem 0.1rem;
  margin-right: 4px;
  min-width: 2.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: red 0 0 2px;
  background-color: #000;
  color: red;
  cursor: no-drop;
}
