.searchInput {
  font-size: 1.3rem;
  margin: 0 4px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 800;
  background-color: var(--blue-background);
  box-shadow: var(--cian) 0 0 4px;
}

.searchInput:focus {
  outline: 2px solid var(--cian);
}
