.searchInput {
  font-size: 1.3rem;
  margin: 2px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 800;
  border: none;
  font-family: "Ubuntu", sans-serif;
}

.searchInput:focus {
  border: none;
}
