.sNotF {
  height: 60vh;
  width: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 80%),
    url("../img/mk9.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-top: 2rem;
}
.letras {
    font-size: 2rem;
    color: #fff;
}
